.App {
  display: grid;
  height: 90vh;
  place-items: center;
  justify-content: center;
  align-items: center;
  /* font-size: 20px; */
  font-weight: bold;
}

button {
  background-color: green;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 0px #fffdfd;
  border-radius: 10px;
  width: 100px;
}

.gameOver {
  background-color: var(--xRed);
}

.buttonR > * {

  margin: 10px;

}
